<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
    <title>django level 2 </title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
  </head>
  <body>
    <h1>Hi ! welcome to Django level 2!</h1>
    <h2> here are your access records</h2>
    <div class = "djangotwo">
        {%if access_records%}
         <table>
           <thead>
             <th>Site name</th>
             <th>Date </th>
           </thead>


         {%for acc in access_records%}
         <tr>
           <td>{{acc.name}}</td>
           <td>{{acc.date}}</td>
         </tr>
         {%endfor%}
    </table>
       {%else%}
        <p>NO ACCESS Record!!</p>

       {%endif%}
</div>
  </body>
</html>
